.profilePic {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 30rem;
  object-fit: cover;
}
.profileContainer {
  display: flex;
  margin: 20px;
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}

.upd-button {
  margin-top: 10px;
}

.labl {
  padding-top: 10px;
  color: red;
}
